<nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar10">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbar10">
                <ul class="navbar-nav nav-fill w-100">
                    <li class="nav-item">
                        <a class="nav-link" href="/crimewatch">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/map">Crime Map</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/report">Report</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/file">User Reports</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading">
                        <h1 class="intro">Chicago Crime Watch</h1>
                        <h5 class="sub-heading">View the Crime Map or Report a Crime</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6" id="align">
                    <div class="card-body" id="searchForm">

                        <form action="/map/neighborhood" method="GET" class="searchForm">
                            {{!-- <div class="crimeDesc">
                                <p>Search by Crime type</p>
                            </div>
                            <br>
                            <div class="input-group">

                                <select class="ui dropdown">
                                    <option value="">Description</option>
                                    <option value="1">Homicide</option>
                                    <option value="0">Robbery</option>
                                    <option value="2">Car Jacking</option>
                                    <option value="3">Assault</option>
                                </select>

                            </div>

                        <div>
                            <h3 id="orh3">--OR--</h3>
                        </div> --}}

                            <div class="crimeDesc">
                                <p>Search by Neighborhood</p>
                            </div>
                            <br>
                            <div class="input-group">
                                <select method="submit" value="" name="neighborhood" class="neighborhood ui search dropdown" placeholder="Select Neighborhood" data-search="true">
                                    {{!-- <select name="hood_id" class="mdb-select md-form ui search dropdown hood_id" searchable="Search here.." data-search="true">
                                    <option value="" disabled selected>Choose your country</option> --}}
                                    <option value="">Select Neighborhood</option>
                                    <option value="1">Rogers Park</option>
                                    <option value="2">West Ridge</option>
                                    <option value="3">Uptown</option>
                                    <option value="4">Lincoln Square</option>
                                    <option value="5">Edison Park</option>
                                    <option value="6">Norwood Park</option>
                                    <option value="7">Jefferson Park</option>
                                    <option value="8">Forest Glen</option>
                                    <option value="9">North Park</option>
                                    <option value="10">Albany Park</option>
                                    <option value="11">O’Hare</option>
                                    <option value="12">Edgewater</option>
                                    <option value="13">North Center</option>
                                    <option value="14">Lakeview</option>
                                    <option value="15">Lincoln Park</option>
                                    <option value="16">Avondale</option>
                                    <option value="17">Logan Square</option>
                                    <option value="18">Portage Park</option>
                                    <option value="19">Irving Park</option>
                                    <option value="20">Dunning</option>
                                    <option value="21">Montclare</option>
                                    <option value="22">Belmont Cragin</option>
                                    <option value="23">Hermosa</option>
                                    <option value="24">Near North Side</option>
                                    <option value="25">Loop</option>
                                    <option value="26">Near South Side</option>
                                    <option value="27">Humboldt Park</option>
                                    <option value="28">West Town</option>
                                    <option value="29">Austin</option>
                                    <option value="30">West Garfield Park</option>
                                    <option value="31">East Garfield Park</option>
                                    <option value="32">Near West Side</option>
                                    <option value="33">North Lawndale</option>
                                    <option value="34">South Lawndale</option>
                                    <option value="35">Lower West Side</option>
                                    <option value="36">Garfield Ridge</option>
                                    <option value="37">Archer Heights</option>
                                    <option value="38">Brighton Park</option>
                                    <option value="39">McKinley Park</option>
                                    <option value="40">New City</option>
                                    <option value="41">West Elsdon</option>
                                    <option value="42">Gage Park</option>
                                    <option value="43">Clearing</option>
                                    <option value="44">West Lawn</option>
                                    <option value="45">Chicago Lawn</option>
                                    <option value="46">West Englewood</option>
                                    <option value="47">Englewood</option>
                                    <option value="48">Armour Square</option>
                                    <option value="49">Douglas</option>
                                    <option value="50">Oakland</option>
                                    <option value="51">Fuller Park</option>
                                    <option value="52">Grand Boulevard</option>
                                    <option value="53">Kenwood</option>
                                    <option value="54">Washington Park</option>
                                    <option value="55">Hyde Park</option>
                                    <option value="56">Woodlawn</option>
                                    <option value="57">South Shore</option>
                                    <option value="58">Bridgeport</option>
                                    <option value="59">Greater Grand Crossing</option>
                                    <option value="60">Ashburn</option>
                                    <option value="61">Auburn Gresham</option>
                                    <option value="62">Beverly</option>
                                    <option value="63">Washington Heights</option>
                                    <option value="64">Mount Greenwood</option>
                                    <option value="65">Morgan Park</option>
                                    <option value="66">Chatham</option>
                                    <option value="67">Avalon Park</option>
                                    <option value="68">South Chicago</option>
                                    <option value="69">Burnside</option>
                                    <option value="70">Calumet Heights</option>
                                    <option value="71">Roseland</option>
                                    <option value="72">Pullman</option>
                                    <option value="73">South Deering</option>
                                    <option value="74">East Side</option>
                                    <option value="75">West Pullman</option>
                                    <option value="76">Riverdale</option>
                                    <option value="77">Hegewisch</option>

                                </select>
                            </div>
                            <input type="submit" class="btn btn-danger" value="Search Now">

                    

                    </form>
                </div>
            </div>



                <div class="col-md-6">
                    <div class="card-body" id="report">
                        <div class="crimeDesc pb-5">
                            <h3 id="align">Report a Crime</h3>
                        </div>
                        <div class="pb-5 pt-0" id="reportBtn">
                            <a href="/report">Report</a>
                        </div>
                    </div>
                    <div class="card-body mt-5" id="report-info">
                        <div class="crimeDesc pb-2">
                            <h3 id="align">Reporting Info</h3>
                            <p>All reports made are anonymous. Our goal is to help make Chicago a more safe city for all
                                to enjoy, and also to make visitors more aware of their surroundings.</p>
                            <p>So if you see a crime taking place, call the police. If you cannot call the police, tell
                                us, and we will add it to our mapping.</p>
                        </div>
                        <!-- <div class="pb-5 pt-0" id="reportBtn">
                            <a href="#report">Report</a>
                        </div> -->
                    </div>

                </div>
            </div>
        </div>
    </header>
    <section class="grey">
        <div class="flex-container l-container">
            <div class="row" id="left">
                <div class="col-md-6">
                    <h2 class="mb-5">How Crime Mappers Works?</h2>
                    <p id="largeText">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                </div>
                <div class="col-md-3 ml-2">
                    <div class="flag-image-side"><img src="images/flag.jpg" alt="flag-image" class="flag-image">
                    </div>
                </div>
            </div>
        </div>
    
    <div id="height" class="container grey">
        <div class="row">
            <div id="bottom-border" class="col-md-2 justify-content-center">

            </div>
        </div>
    </div>
</section>
    <section class="white">
        <div class="flex-container r-container">
            <div class="row" id="left">
                <div class="col-md-3 mr-2">
                    <div class="flag-image-side"><img src="images/flag.jpg" alt="flag-image" class="flag-image">
                    </div>
                </div>
                <div class="col-md-6">
                    <h2 class="mb-5">How Crime Mappers Works?</h2>
                    <p id="largeText">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                </div>
               
            </div>
        </div>
    
    <div id="height" class="container white">
        <div class="row">
            <div id="bottom-border" class="col-md-2 justify-content-center">

            </div>
        </div>
    </div>
</section>
    <section class="pb">
        <div class="flex-container l-container">
            <div class="row" id="left">
                <div class="col-md-6">
                    <h2 class="mb-5">How Crime Mappers Works?</h2>
                    <p id="largeText">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                </div>
                <div class="col-md-3 ml-2">
                    <div class="flag-image-side"><img src="images/flag.jpg" alt="flag-image" class="flag-image">
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- <div>
        <div id="googleMap" style="width:100%;height:400px;"></div> -->

<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5">

    <div style="background-color: #21d192;">
      <div class="container">
  
        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">
  
          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0">Get connected with us on social networks!</h6>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">
  
            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fab fa-facebook-f white-text mr-4"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fab fa-twitter white-text mr-4"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <i class="fab fa-google-plus-g white-text mr-4"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <i class="fab fa-linkedin-in white-text mr-4"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fab fa-instagram white-text"> </i>
            </a>
  
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row-->
  
      </div>
    </div>
  
    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">
  
      <!-- Grid row -->
      <div class="row mt-3 dark-grey-text">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
  
          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">Crime Watchers</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
            consectetur
            adipisicing elit.</p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Tools Used</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a class="dark-grey-text" href="https://getbootstrap.com/">MDBootstrap</a>
          </p>
          <p>
            <a class="dark-grey-text" href="https://www.mysql.com/products/workbench/">MySQL Workbench</a>
          </p>
          <p>
            <a class="dark-grey-text" href="https://www.starbucks.com/">Coffee</a>
          </p>
          <p>
            <a class="dark-grey-text" href="https://www.hotpockets.com/en">Fuel</a>
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Useful links</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a class="dark-grey-text" href="#!">Your Account</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">Become an Affiliate</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">Shipping Rates</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">Help</a>
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fas fa-home mr-3"></i> Cleveland, OH 44101, US</p>
          <p>
            <i class="fas fa-envelope mr-3"></i>CLEARPATH@chicagopolice.org</p>
          <p>
            <i class="fas fa-phone mr-3"></i> + 01 234 567 89</p>
          <p>
            <i class="fas fa-print mr-3"></i> + 01 911</p>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center text-black-50 py-3">© 2020 Copyright:
      <a class="dark-grey-text" href="https://mdbootstrap.com/">Crime Watchers</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->




    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJb6gFULOX0WEN1zhzOY6ezvr1hp03iro&libraries=visualization">
    </script>



   

    </script>





    